@{
    ViewBag.Title = "ViewEmployeeLeaveRequest";
    Layout = "~/Views/Shared/_LayoutSiteMaster.cshtml";

    var al = TempData["success"];
    var alchk = TempData["alert"];
}
@model Traders.Models.Form16RequestModel

<div class="maincontainer">
    <div class="form-horizontal">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <strong>Employee Leave Request</strong>
                        </div>
                        <div class="panel-body body_pnl">
                            <div class="col-sm-12" style="padding: 3px 0px 11px 0px">
                                @using (Html.BeginForm("EmployeeLeaveRequest", "HR", FormMethod.Post))
                                {
                                    <div class="col-sm-2 viewl1" style="margin-top: -5px">
                                        @Html.DropDownList("EmployeeID", new SelectList(Model.EmployeeList, "EmployeeID", "FullName"), "Select Employee", htmlAttributes: new { @class = "form-control ListItemCapitalize", translate = "no" })
                                    </div>
                                    <div class="col-sm-2" style="margin-top: -5px">
                                        <select id="p_status" name="p_status">
                                            <option value="0">--Select Status--</option>
                                            <option value="Approved">Approved</option>
                                            <option value="In Process">In Process</option>                                            
                                            <option value="Denied">Denied</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-1 col-xs-6">
                                        <input type="submit" value="Filter" style="margin-left: 10px;" class="btn btn-success" id="Submit1" name="filter1">
                                    </div>
                                    <div class="col-sm-1 col-xs-6">
                                        <input type="button" value="Reset" class="btn btn-danger" id="Reset" name="filter1" onclick="location.href = '/Hr/EmployeeLeaveRequest'">
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" style="overflow-x: scroll;">
                    <table class="table table-bordered tablefont">
                        <thead class="black-white-text">
                            <tr>
                                <th>#</th>
                                <th>Employee Name</th>
                                <th>Employee Code</th>
                                <th>Leave Type</th>
                                <th>Subject</th>
                                <th>Request Date</th>
                                <th>Grant Date</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{int i = 1;}

                            @if (Model.LeaveEmployeeList != null)
                            {
                                if (Model.LeaveEmployeeList.Count > 0)
                                {
                                    foreach (var item in Model.LeaveEmployeeList)
                                    {
                                        string ProcessDate = string.Empty;
                                        string RequestDate = string.Empty;

                                        if (item.ProcessDate != string.Empty)
                                        {
                                            DateTime dtProcessDate = Convert.ToDateTime(item.ProcessDate.Replace(" 00:00:00", "").Replace(" 12:00:00 AM", ""));
                                            ProcessDate = String.Format("{0:" + Model.DateFormat + "}", dtProcessDate);
                                        }

                                        if (item.RequestDate != string.Empty)
                                        {
                                            DateTime dtRequestDate = Convert.ToDateTime(item.RequestDate.Replace(" 00:00:00", "").Replace(" 12:00:00 AM", ""));
                                            RequestDate = String.Format("{0:" + Model.DateFormat + "}", dtRequestDate);
                                        }
                                        <tr>
                                            <td translate="no" data-column="Sr.No.">@i</td>
                                            <td translate="no" data-column="Employee Name">@item.FullName</td>
                                            <td translate="no" data-column="Employee Code">@item.EmployeeCode</td>
                                            <td translate="no" data-column="Leave Type">Form16</td>
                                            @*<td translate="no" data-column="Subject">@item.Subject</td>*@
                                            <td translate="no" data-column="Request Date">@RequestDate</td>
                                            <td translate="no" data-column="Grant Date">@ProcessDate</td>
                                            @{ string textClass = string.Empty;}
                                            @if (item.ProcessStatus == "In Process")
                                            {
                                                textClass = "status-warning";
                                            }
                                            else if (item.ProcessStatus == "Denied")
                                            {
                                                textClass = "status-danger";
                                            }
                                            else if (item.ProcessStatus == "Approved")
                                            {
                                                textClass = "status-success";
                                            }
                                            <td translate="no" data-column="Status"><span class="@textClass">@item.ProcessStatus</span></td>
                                            <td data-column="Action"><a href="@Url.Action("EmployeeLeaveRequestDetail", "HR", new { RequestID = item.RequestID })"><i class="fa fa-eye" aria-hidden="true" title="View Leave Details"></i></a></td>
                                        </tr>i++;
                                                    }
                                                }
                                                else
                                                {
                                                    <tr>
                                                        <td colspan="9" style="text-align: center;">** No Record Found</td>
                                                    </tr>
                                                    }
                                                }
                                                else
                                                {
                                                    <tr>
                                                        <td colspan="9" style="text-align: center;">** No Record Found</td>
                                                    </tr>
                                                }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/jquery-1.11.3.min.js"></script>
<link href="/Scripts/SweetAlert/sweetalert.css" rel="stylesheet" />
<script src="/Scripts/SweetAlert/sweetalert.min.js"></script>

<script>
    var mas = '@al';
    var chkmsg = '@alchk';
    if (mas != '') {
        swal("Success !", mas, "success");
    }
    if (chkmsg != '') {
        swal("Alert !", chkmsg, "warning");
    }
</script>
