@{
    ViewBag.Title = "ManageAdvance";
    Layout = "~/Views/Shared/_LayoutSiteMaster.cshtml";

    var al = TempData["success"];
    var alchk = TempData["alert"];
}
@model Traders.Models.AdvanceModel

<div class="maincontainer">
    <div class="form-horizontal">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <strong>Manage Extra Payment </strong>
                            <div class="row" style="padding-right: 2.5%;">
                                <div class="col-sm-9 padd0"></div>
                                <div class="col-sm-3 padd0 developer_paddo">
                                    <input type="button" value="Create Extra Payment" onclick="location.href = '/HR/AddModifyManageAdvance'" class="btn btn-success pull-right pull-right" style="margin-right: 5px;margin-top: 3px;" />
                                </div>
                            </div>
                        </div>
                        <div class="panel-body body_pnl">
                            <div class="col-sm-12" style="padding: 3px 0px 11px 0px">
                                @using (Html.BeginForm("ManageAdvance", "HR", FormMethod.Post))
                                {
                                    <div class="col-sm-2" style="margin-top: -5px">
                                        @Html.DropDownList("EmployeeName", new SelectList(Model.EmployeeList, "FullName", "FullName"), "Select Employee", htmlAttributes: new { @class = "form-control ListItemCapitalize", translate = "no" })
                                    </div>
                                    <div class="col-sm-2">
                                        @Html.TextBox("StartDate", null, htmlAttributes: new { @class = "form-control", @placeholder = "Select Start Date", @autocomplete = "off",@readonly="readonly" })
                                    </div>
                                    <div class="col-sm-2">
                                        @Html.TextBox("EndDate", null, htmlAttributes: new { @class = "form-control", @placeholder = "Select End Date", @autocomplete = "off",@readonly="readonly" })

                                    </div>
                                    <div class="col-sm-1 col-xs-6">
                                        <input type="submit" value="Filter" style="margin-left: 10px;" class="btn btn-success" id="Submit1" name="filter1">
                                    </div>
                                    <div class="col-sm-1 col-xs-6">
                                        <input type="button" value="Reset" class="btn btn-danger" id="Reset" name="filter1" onclick="location.href = '/HR/ManageAdvance'">
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered tablefont">
                        <thead class="black-white-text">
                            <tr>
                                <th>#</th>
                                <th>Full Name</th>
                                <th>Employee Code</th>
                                <th>Payment Date</th>
                                <th>Extra Payment Amount</th>
                                <th>Created On</th>
                                <th>Modified On</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{int i = 1;}
                            @if (Model.AdvanceModelList != null)
                            {
                                if (Model.AdvanceModelList.Count > 0)
                                {
                                    foreach (var item in Model.AdvanceModelList)
                                    {
                                        <tr>
                                            <td translate="no" data-column="Sr. No.">@i</td>
                                            <td translate="no" data-column="Full Name">@item.FullName</td>
                                            <td translate="no" data-column="Employee Code">@item.EmployeeCode</td>
                                            <td translate="no" data-column="Payment Date">@item.Month.Replace(" 00:00:00", "")</td>
                                            <td translate="no" data-column="Extra Payment Amount" >@item.AdvanceAmount</td>
                                            <td translate="no" data-column="Created On">@item.CreatedOn</td>
                                            <td translate="no" data-column="Modified On">@item.ModifiedOn</td>
                                            <td translate="no" data-column="Action"><a href="@Url.Action("AddModifyManageAdvance", "HR", new { AdvanceID = item.AdvanceID })"><i class="fa fa-eye" aria-hidden="true" title="View Salary Details"></i></a></td>

                                        </tr>i++;
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="8" style="text-align: center;">** No Record Found</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="8" style="text-align: center;">** No Record Found</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/jquery-1.11.3.min.js"></script>
<link href="/Scripts/SweetAlert/sweetalert.css" rel="stylesheet" />
<script src="/Scripts/SweetAlert/sweetalert.min.js"></script>

<script>
    var mas = '@al';
    var chkmsg = '@alchk';
    if (mas != '') {
        swal("Success !", mas, "success");
    }
    if (chkmsg != '') {
        swal("Alert !", chkmsg, "warning");
    }
</script>
<script type="text/javascript">
    var dateFormat = '@Session["DpDateFormat"]';
    $(function () {
        $('#StartDate').datepicker({
            autoclose: true,
            format: dateFormat,
            validateOnBlur: false,
            forceParse: true,
            assumeNearbyYear: 20   
        });

        $('#EndDate').datepicker({
            autoclose: true,
            format: dateFormat,
            validateOnBlur: false,
            forceParse: true,
            assumeNearbyYear: 20   
        });
    });
</script>

