@model Traders.Models.CreateLeadsModel
<div class="modal-dialog modal-lg">
    <!-- Modal content-->
    @{var leadname = ViewBag.UserName==null?"N/A": ViewBag.UserName;}
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">View Description [Customer Name :<span translate="no">@leadname</span> ]</h4>
        </div>
            <div class="modal-body">
                <table class="table tables table-bordered">
                    <thead>
                        <tr class="danger">
                            <th>#</th>
                            <th>Name</th>
                            <th>Date</th>
                            <th>Description</th>
                            <th>Lead Status</th>
                            <th>Attachment</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{int i = 1;}
                        @if (Model.descriptionList.Count > 0)
                        {
                            foreach (var item in Model.descriptionList)
                            {
                            <tr class="success">
                                <td translate="no" data-column="Sr. No.">@i</td>
                                <td translate="no" data-column="Name">@item.ByUserName</td>
                                @if (item.CreatedDateTime == null)
                                {
                                    <td data-column="Date">                                        
                                        <span>N/A</span>                                
                                    </td>
                                }
                                else
                                {
                                    <td data-column="Date" translate="no">                                
                                        <span>@String.Format("{0:" + Model.DateFormat + "}", item.CreatedDateTime)</span>
                                    </td>
                                }
                                <td data-column="Description" translate="no">@Html.Raw(item.Description)</td>
                                <td translate="no">@item.LeadStatusName</td>
                                @if (String.IsNullOrWhiteSpace(item.LeadAttachment))
                                {
                                    <td data-column="Attachment">--</td>
                                }
                                else
                                {
                                    <td data-column="Attachment">@Html.ActionLink("Download", "LeadDownload", new { PostFile = item.LeadAttachment })</td>
                                }
                            </tr>  
                                i++;
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="6" style="text-align:center;"> ** No Record Found !!</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        </div>
    </div>
</div>
