@{
    ViewBag.Title = " Holidays List";
    Layout = "~/Views/Shared/_LayoutSiteMaster.cshtml";

    var al = TempData["success"];
    var alchk = TempData["alert"];
}


@model  List<Traders.Models.HolidaysModel>
<div class="maincontainer">
    <div class="form-horizontal">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <strong> Holidays List</strong>
                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered tablefont">
                        <thead class="black-white-text">
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Date</th>
                                <th>Month</th>
                                <th>Days</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{int i = 1;}
                            @if (Model != null)
                            {

                                foreach (var item in Model)
                                {
                            <tr>
                                <td translate="no">@i</td>
                                <td translate="no">@item.Name</td>
                                <td translate="no">@item.Date</td>
                                <td translate="no">@Convert.ToDateTime(item.Date).ToString("MMMM")</td>
                                <td translate="no">@Convert.ToDateTime(item.Date).ToString("dddd")</td>
                            </tr>
                                    i++;
                                }


                            }
                            else
                            {
                                <tr>
                                    <td colspan="9" style="text-align: center;">** No Record Found</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<link href="~/timepicker/bootstrap-timepicker.min.css" rel="stylesheet">
<script src="~/js/jquery-1.11.3.min.js"></script>
<script src="~/timepicker/bootstrap-timepicker.js"></script>
<script src="/Scripts/SweetAlert/sweetalert.min.js"></script>
<link href="/Scripts/SweetAlert/sweetalert.css" rel="stylesheet" />

<script>
    var mas = '@al';
    var chkmsg = '@alchk';
    if (mas != '') {
        swal("Success !", mas, "success");
    }
    if (chkmsg != '') {
        swal("Alert !", chkmsg, "warning");
    }
</script>
<script>
    var dateFormat = '@Session["DpDateFormat"]';
    $(function () {
        $('.datefield').datepicker({
            autoclose: true,
            format: dateFormat,
            validateOnBlur: false,
            forceParse: true,
            assumeNearbyYear: 20
        });

        //$('#ToDate').datepicker({
        //    format: 'dd/mm/yyyy',
        //    autoclose: true
        //});
    });

</script>