@{
    ViewBag.Title = "Leadstatus";
    Layout = "~/Views/Shared/_LayoutSiteMaster.cshtml";
}
@model Svam.Models.LeadStatusModel


@{
    var al = TempData["success"];
    var alchk = TempData["alert"];
}
<script>

    var mas = '@al';
    var chkmsg = '@alchk';
    if (mas != '') {
        swal({ title: "Thank you!", text: mas, imageUrl: "/Scripts/SweetAlert/thumbs-up.jpg" });
    }
    if (chkmsg != '') {
        alert(chkmsg);
    }
</script>
<div class="maincontainer">
<div class="col-sm-12 ">   
	<div class="col-sm-12">
		<div class="panel panel-default">
		  <div class="panel-heading"><i class="fa fa-th-list" aria-hidden="true"></i> Manage Lead Status</div>
			<div class="panel-body">
					 
                        @using(Html.BeginForm("leadstatus","master",FormMethod.Post))
                        {           
					    <div class="form-group f-center col-sm-6 padd0">
						       <div class="col-sm-8">
                                   @Html.TextBoxFor(em => em.LeadStatusname, new {@placeholder="Add Lead Status",@class="form-control" })
                                   @Html.ValidationMessageFor(em=>em.LeadStatusname)
						       </div>

						      <div class="col-sm-4">
						      <input type="submit" value="Submit" class="btn mainbtn">
						      </div>
					     </div>
                        }				
					<div class="devider"></div>
					
                        <div class="col-sm-12 padd0">
                            <div class="table-responsive">
                                <table class="table table-striped table table-hover tabledata table-bordered">
                                    <thead>
                                        <tr>
                                            <th width="5%" class="noimg padd0" style="padding:10px 0px;">Sr no.</th>
                                            <th width="60%">Lead Status Name </th>
                                            <th width="12%">Status</th>
											<th width="15%" class="noimg">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{int i = 1;}
                                        @foreach (var item in ViewBag.LeadStatus)
                                        {
                                            <tr>
                                                <td>@i</td>
                                                <td>@item.LeadStatusName</td>
                                                <td>@item.Status</td>
												<td><a href="/Master/LeadStatus/@item.Id" class="viewbtn">Edit</a></td>
                                            </tr>
                                            i++;
                                        }
																			
										
								    </tbody>
                                </table>

                                <div class="container paginationcustom">
                                    <ul class="pagination">



                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>


</div>

<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="/Scripts/SweetAlert/sweetalert.min.js"></script>
<link href="/Scripts/SweetAlert/sweetalert.css" rel="stylesheet" />


