@{
    ViewBag.Title = "Manage Error Type";
    Layout = "~/Views/Shared/_LayoutSiteMaster.cshtml";
}
<script src="/Scripts/SweetAlert/sweetalert.min.js"></script>
<link href="/Scripts/SweetAlert/sweetalert.css" rel="stylesheet" />
@{
    var al = TempData["success"];
    var alchk = TempData["alert"];
}
<script>
    var mas = '@al';
    var chkmsg = '@alchk';
    if (mas != '') {
        swal("Success !", mas, "success");
    }
    if (chkmsg != '') {
        swal("Alert !", chkmsg, "warning");
    }
</script>
@model Svam.Models.CRMErrorTypeModel
<div class="maincontainer">
    <div class="form-horizontal">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <strong>Manage Error Type </strong>
                        </div>
                        <div class="panel-body body_pnl">
                            <div class="col-sm-12" style="padding: 3px 0px 11px 0px">
                                @using (Html.BeginForm("ManageErrorType", "Master", FormMethod.Post))
                                {
                                    <div class="col-sm-3">
                                        @Html.TextBoxFor(em => em.ErrorName, new { @placeholder = "Enter Error Name", @class = "form-control", @autocomplete = "off", required = "required" })
                                        @Html.ValidationMessageFor(em => em.ErrorName)
                                    </div>

                                    <div class="col-sm-1">
                                        <input type="submit" value="Save" class="btn btn-success">
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table  table-bordered tablefont">
                        <thead class="black-white-text">
                            <tr>
                                <th width="5%">#</th>
                                <th width="60%">Error Name </th>
                                <th width="12%">Status</th>
                                <th width="15%" class="noimg">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{int i = 1;}
                            @if (Model != null)
                            {
                                if (Model.CRMErrorTypeModelList != null)
                                {
                                    foreach (var item in Model.CRMErrorTypeModelList)
                                    {
                                        <tr>
                                            <td data-column="Sr.No." translate="no">@i</td>
                                            <td data-column="Error Name" translate="no">@item.ErrorName</td>
                                            <td data-column="Status">
                                                @if (item.IsActive == true)
                                                {
                                                    <button type="button" class="btn btn-success" sts="active" url="/Master/ChangeErrorTypeStatus/@item.ErrorId" onclick="changeStatus(this);">Active</button>
                                                }
                                                else
                                                {
                                                    <button type="button" class="btn btn-danger" sts="inactive" url="/Master/ChangeErrorTypeStatus/@item.ErrorId" onclick="changeStatus(this);">Inactive</button>
                                                }
                                            </td>

                                            @*<td data-column="Status">@item.StatusName</td>*@
                                            <td data-column="Action">
                                                <a href="/Master/ManageErrorType/@item.ErrorId" class="viewbtn">Edit</a>
                                            </td>
                                        </tr>
                                        i++;
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="4" style="text-align: center;">**No Record Found!!</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="4" style="text-align: center;">**No Record Found!!</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function changeStatus(obj) {

        var curr = $(obj);
        var txtStatus = curr.attr("sts");
        var url = curr.attr("url");
        $.post(url, function (data) {
            if (data == "ok") {
                if (txtStatus == "active") {
                    curr.removeClass("btn-success").addClass("btn-danger");
                    curr.text("Inactive");
                    curr.attr("sts", "inactive");
                }
                else {
                    curr.removeClass("btn-danger").addClass("btn-success");
                    curr.text("Active");
                    curr.attr("sts", "active");
                }
            }
            else {
                swal("Alert !", '** Somthing went wrong.', "warning");
            }
        });
    }
</script>
