@{
    ViewBag.Title = "ServiceDetails";
    Layout = "~/Views/Shared/_LayoutSiteMaster.cshtml";
}

@{
    var al = TempData["success"];
    var alchk = TempData["alert"];
}

<div class="maincontainer">
    <div class="col-sm-12">

        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-th-list" aria-hidden="true"></i> Service Details
                <div class="rightbtntop">
                    <a href="#" class="addbtn addTaxGroup" style="width:100%;" data-toggle="modal" data-target="#ManageTaxGroup"><i aria-hidden="true" class="fa fa-plus"></i> Add Service Details</a>
                </div>
            </div>
            <div class="panel-body mainpanel">
                <div class="smalltable2">
                    <div class="table-responsive">
                        <table class="table table-striped table table-hover tabledata table-bordered">
                            <thead>
                                <tr>
                                    <th width="20%" class="noimg padd0" style="padding: 10px 0px;">Sr no.</th>
                                    <th width="20%">Service Code</th>
                                    <th width="20%">Description</th>
                                    <th width="20%">Rate</th>
                                     <th width="10%">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{int i = 1;}
                                @foreach (var item in ViewBag.result)
                                {
                              
                                <tr>
                                    <td>@i</td>
                                    <td>@item.ServiceItemCode</td>
                                    <td>@item.ServiceDescription</td>
                                    <td>@item.Rate</td>
                                    <td><a  href="#" class="viewbtn" data-toggle="modal" data-target="#ManageTaxGroup" onclick="UpdateQTdata(@item.Id);" >Update</a></td>
                                </tr>
                                    i++;
                                }
                            </tbody>
                        </table>

                    </div>

                    <br style="clear: both;" />


                </div>
            </div>


        </div>
        <!-- end item details -->
    </div>
</div>

<div class="loaderimg" style="display: none" id="loader">

    <div class="loadingoverlay">
        <div class="loadingoverlayContent" style="text-align: center;">
            Please wait. We are processing your request.<br>
            <br>
            <img src="@Url.Content("~/Content/Loader/loading.gif")" id="Img1" alt="Processing...">
        </div>
    </div>
</div>

@model Svam.Models.ServiceDeatilsModel
<div id="ManageTaxGroup" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Manage Service Deatils</h4>
            </div>
            <div class="modal-body over-hidden">
                <div class="row">
                    <div class="col-sm-12">
                        @using (Html.BeginForm("ServiceDetails", "master", FormMethod.Post, new { @class = "form-horizontal" }))
                        {
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="cname">Service Code:-</label>
                                <div class="col-sm-6">
                                    @Html.TextBoxFor(em => em.ServiceCode, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(em => em.ServiceCode)                                    
                                    <input type="hidden" id="Id" name="Id" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="cname">Description:-</label>
                                <div class="col-sm-6">
                                    @Html.TextBoxFor(em => em.ServiceDescription, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(em => em.ServiceDescription)  
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="cname">Rate:-</label>
                                <div class="col-sm-6">
                                    @Html.TextBoxFor(em => em.Rate, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(em => em.Rate)
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4" for="regno"></label>
                                <div class="col-sm-6">
                                    <input type="submit" class="btn mainbtn2" value="Submit">
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryui")
    @System.Web.Optimization.Styles.Render("~/Content/themes/base/css")

    <script>
        function UpdateQTdata(id) {
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetServicedetailsById", "master")',
                data: { id: id },
                error: function (xhr, status, error) {
                    $(".loaderimg").hide();
                },
                success: function (JSONdata) {
                    $("#Id").val(JSONdata.Id);
                    $("#ServiceCode").val(JSONdata.ServiceItemCode);
                    $("#ServiceDescription").val(JSONdata.ServiceDescription);
                    $("#Rate").val(JSONdata.Rate);
                },
                beforeSend: function () {
                    if (id != 0)
                        $('.loaderimg').show();

                    else
                        return false;
                },
                complete: function () {
                    $(".loaderimg").hide();
                }
            });
        }

        jQuery('.addTaxGroup').click(function ()
        {
            $("#Id").val('');
            $("#ServiceCode").val('');
            $("#ServiceDescription").val('');
            $("#Rate").val('');
        });


        var mas = '@al';
        var chkmsg = '@alchk';
        if (mas != '') {
            swal({ title: "Thank you!", text: mas, imageUrl: "/Scripts/SweetAlert/thumbs-up.jpg" });
        }
        if (chkmsg != '') {
            alert(chkmsg);
        }
        
    </script>
}

<script src="~/Scripts/jquery-1.7.1.min.js"></script>
