@{
    ViewBag.Title = "LoginHistory";
    Layout = "~/Views/Shared/_LayoutSiteMaster.cshtml";
}

@model Traders.Models.EmployeeLogHistory
<div class="maincontainer">
    <div class="col-sm-12 ">
        <div class="col-sm-4 padd0">
        </div>
        <div class="col-sm-8 ovtime">
            <div class="col-sm-2 f-right">
                <input type="button" id="btnRemark" class="btn btn-danger" value="Submit" />
                <span class="ExtraWorkingLoader" style="display: none; color: red">Please wait...<i class="fa fa-spinner fa-pulse"></i></span>
            </div>
            @if (Convert.ToInt32(Session["CompanyID"]) == 2603)
            {
                <div class="col-sm-2 padd0 f-right" style="display:none;">
                    <input type="checkbox" class="custom_checkbox" id="chkExtraworking" data-name="ExtraWorking" /><span class="working_extra">Extra Working</span>
                </div>
                <div class="col-sm-3 padd0 f-left" style="display:none;">
                    <input type="checkbox" class="custom_checkbox" id="chkLateworking" data-name="LateNight" /><span class="working_extra">Working Late Night</span>
                </div>
            }
            else
            {
                <div class="col-sm-2 padd0 f-right">
                    <input type="checkbox" class="custom_checkbox" id="chkExtraworking" data-name="ExtraWorking" /><span class="working_extra">Extra Working</span>
                </div>
                <div class="col-sm-3 padd0 f-left">
                    <input type="checkbox" class="custom_checkbox" id="chkLateworking" data-name="LateNight" /><span class="working_extra">Working Late Night</span>
                </div>
            }
        </div>
        <div class="form-horizontal">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-info">
                        <div class="panel-heading"><strong>Last Login History Details</strong>   <span style="margin-left: 12%; color: #c9302c;">@TempData["alert"]</span></div>
                        <div class="panel-body body_pnl">
                            <div class="col-sm-12" style="padding: 3px 0px 11px 0px">
                                <div class="col-sm-2">
                                    <input type="text" id="txtFrmDate" class="form-control datefield" name="FromDate" placeholder="From Date" required="required" autocomplete="off" readonly />
                                </div>
                                <div class="col-sm-2">
                                    <input type="text" id="ToDate" class="form-control datefield" name="ToDate" placeholder="To Date" required="required" autocomplete="off" readonly />
                                </div>
                                <div class="col-sm-2 padd0">
                                    <input id="btnFltrLog" type="button" class="btn btn-danger" value="Filter" />
                                    <input class="btn btn-success" type="button" value="Reset" onclick="location.href = '/Nis/LoginHistory'" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" id="divBindData">
                    <table class="table  table-bordered tablefont">
                        <thead class="black-white-text">
                            <tr>
                                <th>Employee Name</th>
                                <th>IP Address</th>
                                @*<th>MacAddress</th>*@
                                <th>Date</th>
                                <th>Login Time</th>
                                <th>Logout Time</th>
                                <th>Duration (HH/MM/SS)</th>
                                @if (Convert.ToInt32(Session["CompanyID"]) == 2603)
                                {
                                    <th style="display:none;">Late Hour Working</th>
                                    <th style="display:none;">Extra day Working</th>
                                }
                                else
                                {
                                    <th>Late Hour Working</th>
                                    <th>Extra day Working</th>
                                }

                            </tr>
                        </thead>
                        <tbody>

                            @if (Model.GetEmpLogHistoryModel.Count > 0)
                            {
                                foreach (var item in Model.GetEmpLogHistoryModel.OrderByDescending(em => em.Id).ToList())
                                {
                                    if (item.ExtraWorking == true)
                                    {
                                        <tr class="success" title="Extra Working day">
                                            <td data-column="Employee Name">@item.EmpName</td>
                                            <td data-column="IP Address">@item.IPAddress</td>
                                            @*<td data-column="Mac Address">@item.MacAddress</td>*@
                                            <td data-column="Login Date">@item.LoginDate</td>
                                            <td data-column="Login Time">@item.LoginTime</td>
                                            <td data-column="Logout Time">@item.LogoutTime</td>
                                            <td data-column="Duration">@item.Duration</td>
                                            @if (item.WorkingLateHours == true)
                                            {
                                                <td data-column="Late Hour Working"><span style="color: crimson; font-size: 14px; font-weight: bold;">Yes</span></td>
                                            }
                                            else
                                            {

                                                <td>------</td>
                                            }
                                            @if (item.ExtraWorking == true)
                                            {
                                                <td data-column="Extra Day Working"><span style="color: crimson; font-size: 14px; font-weight: bold;">Yes</span></td>
                                            }
                                            else
                                            {
                                                <td>------</td>
                                            }

                                        </tr>
                                    }
                                    else if (item.WorkingLateHours == true)
                                    {
                                        <tr class="danger" title="Late Hours working on this date">
                                            <td data-column="Employee Name">@item.EmpName</td>
                                            <td data-column="IP Address">@item.IPAddress</td>
                                            @*<td data-column="Mac Address">@item.MacAddress</td>*@
                                            <td data-column="Login Date">@item.LoginDate</td>
                                            <td data-column="Login Time">@item.LoginTime</td>
                                            <td data-column="Logout Time">@item.LogoutTime</td>
                                            <td data-column="Duration">@item.Duration</td>
                                            @if (item.WorkingLateHours == true)
                                            {
                                                <td data-column="Late Hour Working"><span style="color: crimson; font-size: 14px; font-weight: bold;">Yes</span></td>
                                            }
                                            else
                                            {

                                                <td>------</td>
                                            }
                                            @if (item.ExtraWorking == true)
                                            {
                                                <td data-column="Extra Day Working"><span style="color: crimson; font-size: 14px; font-weight: bold;">Yes</span></td>
                                            }
                                            else
                                            {
                                                <td>------</td>
                                            }

                                        </tr>
                                    }
                                    else
                                    {
                                        <tr>
                                            <td data-column="Employee Name">@item.EmpName</td>
                                            <td data-column="IP Address">@item.IPAddress</td>
                                            @* <td data-column="Mac Address">@item.MacAddress</td>*@
                                            <td data-column="Login Date">@item.LoginDate</td>
                                            <td data-column="Login Time">@item.LoginTime</td>
                                            <td data-column="Logout Time">@item.LogoutTime</td>
                                            <td data-column="Duration">@item.Duration</td>
                                            @if (Convert.ToInt32(Session["CompanyID"]) == 2603)
                                            {
                                                if (item.WorkingLateHours == true)
                                                {
                                                    <td data-column="Late Hour Working" style="display:none;"><span style="color: crimson; font-size: 14px; font-weight: bold;">Yes</span></td>
                                                }
                                                else
                                                {

                                                    <td style="display:none;">------</td>
                                                }
                                                if (item.ExtraWorking == true)
                                                {
                                                    <td data-column="Extra Day Working" style="display:none;"><span style="color: crimson; font-size: 14px; font-weight: bold;">Yes</span></td>
                                                }
                                                else
                                                {
                                                    <td style="display:none;">------</td>
                                                }
                                            }
                                            else
                                            {
                                                if (item.WorkingLateHours == true)
                                                {
                                                    <td data-column="Late Hour Working"><span style="color: crimson; font-size: 14px; font-weight: bold;">Yes</span></td>
                                                }
                                                else
                                                {

                                                    <td>------</td>
                                                }
                                                if (item.ExtraWorking == true)
                                                {
                                                    <td data-column="Extra Day Working"><span style="color: crimson; font-size: 14px; font-weight: bold;">Yes</span></td>
                                                }
                                                else
                                                {
                                                    <td>------</td>
                                                }
                                            }

                                        </tr>
                                    }
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="8" style="text-align: center;">** No Record Found</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/jquery-1.11.3.min.js"></script>

@*<script src="~/Scripts/jquery-1.7.1.min.js"></script>*@
<link href="/Scripts/SweetAlert/sweetalert.css" rel="stylesheet" />
<script src="/Scripts/SweetAlert/sweetalert.min.js"></script>
<script type="text/javascript">
    var dateFormat = '@Session["DpDateFormat"]';
    $(function () {
        $('#txtFrmDate').datepicker({
            autoclose: true,
            format: dateFormat,
            validateOnBlur: false,
            forceParse: true,
            assumeNearbyYear: 20
        });

        $('#ToDate').datepicker({
            autoclose: true,
            format: dateFormat,
            validateOnBlur: false,
            forceParse: true,
            assumeNearbyYear: 20
        });
    });

    //$('.datepik').datepicker({
    //    dateFormat: "mm/dd/yy",
    //    maxDate: 0,
    //    //minDate: 0,
    //    onSelect: function (date_text, inst) {
    //    }
    //});
    jQuery('#btnFltrLog').click(function () {
        var frmdt = jQuery('#txtFrmDate').val();
        var todt = jQuery('#ToDate').val();
        if (frmdt != '' && todt != '') {
            jQuery.post('/Nis/FilterLogHistorybyUser', { FromDate: frmdt, ToDate: todt }, function (data) {
                jQuery('#divBindData').html(data);
            });
        }
        else {
            //alert('Please select the date to filter the Data.');
            swal("Alert !", "Please select the date to filter the Data.", "warning");
        }
    });
    $(".datepik").keypress(function (event) { event.preventDefault(); });

    //Send the Mail...on Extra working and Late Night working...
    jQuery('#btnRemark').click(function () {
        if (confirm('are you sure want to send a mail to Admin about this working!')) {
            var Extraworking = false;
            var Lateworking = false;
            if ($('#chkExtraworking').is(":checked")) {
                Extraworking = true;
            }
            if ($('#chkLateworking').is(":checked")) {
                Lateworking = true;
            }

            if (Extraworking == true || Lateworking == true) {
                jQuery('#btnRemark').hide();
                jQuery('.ExtraWorkingLoader').show();
                return false;
                jQuery.post('/common/ExtraworkingOrLateNightMark', { ExtraWorking: Extraworking, LateNightWorking: Lateworking }, function (data) {
                    if (data != '') {
                        alert(data);
                        $('#chkExtraworking').prop('checked', false);
                        $('#chkLateworking').prop('checked', false);
                        jQuery('#btnRemark').show();
                        jQuery('.ExtraWorkingLoader').hide();
                    }
                    else {
                        $('#chkExtraworking').prop('checked', false);
                        $('#chkLateworking').prop('checked', false);
                        jQuery('#btnRemark').show();
                        jQuery('.ExtraWorkingLoader').hide();
                    }
                });
            }
            else {
                //alert('Please check any option.');
                swal("Alert !", "Please check any option", "warning");
            }
        }
    });
</script>
<style>
    #divBindData {
        overflow-x: scroll;
    }
</style>
