@{
    ViewBag.Title = "ManagePurchasereturn";
    Layout = "~/Views/Shared/_LayoutSiteMaster.cshtml";
}

@model Svam.Models.ViewPurchaseReturnModel
<div class="maincontainer">
    <div class="col-sm-12 ">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-th-list" aria-hidden="true"></i>Manage Purchase Return
                    <div class="rightbtntop">
                        <a href="/purchase/CreatePurchasereturn" class="addbtn" style="width: 100%;"><i aria-hidden="true" class="fa fa-plus"></i> Create Purchase Return</a>
                    </div>
                </div>

                <div class="panel-body">

                    <div class="form-horizontal">

                        <div class="col-sm-12 padd0">
                            <div id="bindSearchData" class="table-responsive">
                                <table id="dest" class="table table-striped table table-hover tabledata table-bordered">
                                    <thead>
                                        <tr>
                                            <th width="4%" class="noimg padd0" style="padding: 10px 0px;">Sr no.</th>
                                            <th width="12%">Return No</th>
                                            <th width="7%">Return Date</th>
                                            <th width="12%">Purchase Order No</th>
                                            <th width="8%">Purchase Order date </th>
                                            <th width="5%">Supplier </th>
                                            <th width="10%" class="noimg">Action</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{int i = 1;}
                                        @foreach (var item in Model.ViewPurchaseReturnModelList)
                                        {
                                            <tr>
                                                <td>@i</td>
                                                <td>@item.PurchaseReturnNo</td>
                                                <td>@item.PreturnDate</td>
                                                <td>@item.PurchaseOrderNo</td>
                                                <td>@item.PurchaseOrderDate</td>
                                                <td>@item.SupplierName</td>
                                                <td>
                                                    <a href="#" class="viewbtn ViewPReturnDetailsInfo" data-preturnno="@item.PurchaseReturnNo" data-toggle="modal" data-target="#ViewPReturnDetails">Details</a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>

                                <div id="pagination" class="container paginationcustom">
                                    <ul class="pagination">
                                    </ul>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="ViewPReturnDetails" class="modal fade" role="dialog">
</div>


@section Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryui")
    @System.Web.Optimization.Styles.Render("~/Content/themes/base/css")

    <script>

        $('.ViewPReturnDetailsInfo').on('click', function () {
            var prno = $(this).data('preturnno');

            //$.post('/purchase/ViewPrInfobyPRNo', { Prno: prno }, function (data) {
            //    jQuery('#ViewPRDetails').html(data);
            //    $($(this).data("#ViewPRDetails")).show();
            //});

            $.ajax({
                type: "GET",
                url: '@Url.Action("ViewPReturnDetailsInfobyPONo", "purchase")',
                data: { PreturnNo: prno },
                error: function (xhr, status, error) {
                    $(".loaderimg").hide();
                },
                success: function (JSONdata) {
                    jQuery('#ViewPReturnDetails').html(JSONdata);
                    $($(this).data("#ViewPReturnDetails")).show();
                },
                beforeSend: function () {
                    if (prno != 0)
                        $('.loaderimg').show();

                    else
                        return false;
                },
                complete: function () {
                    $(".loaderimg").hide();
                }
            });
        });

    </script>

    <style>
        .modaltable9 {
            margin-top: 20px;
        }

            .modaltable9 th {
                font-size: 12px;
                background: #333;
                color: #fff;
                text-align: center;
                padding: 7px !important;
            }

            .modaltable9 td {
                text-align: center;
                padding: 6px !important;
            }

        .desc p {
            font-size: 12px;
        }
    </style>
}


